PORT=3000

LOG_LEVEL=info

DB_HOST=localhost
DB_PORT=5432
DB_NAME=mydb
DB_USER=postgres
DB_PASSWORD=postgres123
DB_SCHEMA=public

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

JWT_SECRET=secret
REFRESH_TOKEN_EXPIRES_IN_DAYS=7
